# Maven
target/

# STS
.springBeans
.apt_generated
.factorypath
.project
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Secrets
application-prod.properties
